# Jarvis local settings
# 이 파일은 로컬 설정용 .env 파일입니다. Git에 커밋하지 마세요.

# Web search API key 본인 API KEY 를 입력하세요
TAVILY_API_KEY=

# Ollama model
OLLAMA_MODEL_NAME=llama3.1:8b

# Everything HTTP server port
EVERYTHING_PORT=8888

# RAG settings
RAG_COLLECTION_NAME=jarvis_docs
RAG_EMBEDDING_MODEL=paraphrase-multilingual-MiniLM-L12-v2
